body{
    padding: 0px;
    margin: 0px;
    background-image: url(images/gaming.avif);
}
.header img:hover{
    cursor: pointer;
}
#images{
    padding: 20px;
}
h1{
    color: darkorchid;
    background-color: black;
    text-align: center;
    padding: 10px;
}
h2{
    text-align: center;
    font-size: 100px;
    padding: 0%;
    margin: 0;
}